@charset "UTF-8";

/* COMMON.CSS */
.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

/* INNER CONTENT WIDTH */
.inner {
    width: 1280px;
    margin: 0 auto;
}

/* SECTION ARTICLE 공통 */
.sec-title {
    color: rgb(207, 102, 26);
    font-size: 28px;
    font-family: "Merriweather", serif;
    font-weight: 700;
    margin-bottom: 40px;
    text-align: center;
}
body {
    font-family: "Nanum Gothic", sans-serif;
}