@charset "UTF-8";

/* FOOTER */

footer {
    width: 100%;
    background-color: lightgray;
    padding: 60px 0;
}
footer a {
    color: #333;
}
footer a:hover {
    text-decoration: underline;
}
footer .sitemap {
    margin-bottom: 30px;
}
footer .sitemap .mapbox {
    float: left;
    width: 16.66%;
}
footer .sitemap .mapbox h3 {
    font-size: 18px;
    color: rgb(207, 102, 26);
    font-family: "Merriweather", serif;
    margin-bottom: 20px;
}
footer .sitemap .mapbox ul {}
footer .sitemap .mapbox ul li {
    float: none;
    line-height: 30px;
}
footer .info {
    border-top: 1px solid #999;
    padding-top: 30px;
    position: relative;
}
footer .info .links {
    margin-bottom: 20px;
}
footer .info .links a {
    display: inline-block;
    margin-right: 8px;
    position: relative;
    padding-right: 10px; /*::after 배치*/
}
footer .info .links a::after {
    content: "";
    display: block;
    width: 1px;
    height: 16px;
    background-color: rgb(51,51,51);
    position: absolute;
    top: 3px;
    left: 100%;
}
footer .info .links a:last-child::after {
    display: none;
}
footer .info .copy {}
footer .info .sns {
    position: absolute;
    right: 0;
    top: 30px;
}
footer .info .sns a {
    width: 40px; height: 40px;
    float: left;
    margin-left: 10px;
    font-size: 0;
}
footer .info .sns a img {
    width: 100%;
    display: block;
}
footer .info .sns a:nth-child(2) {
    background: url(../img/ico_sns.png) no-repeat;
    background-position: -40px;
}
footer .info .sns a:nth-child(3) {
    background: url(../img/ico_blog_hover.png) no-repeat;
}
footer .info .sns a:nth-child(3):hover {
    background-position: right;
}
footer .info .sns a:nth-child(4) {
    background: url(../img/ico_twitter_hover.png) no-repeat;
}
footer .info .sns a:nth-child(4):hover {
    background-position: right;
}